[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "raimondi/delimitmate"]
	path = raimondi/delimitmate
	url = git@github.com:raimondi/delimitmate.git
[submodule "majutsushi/tagbar"]
	path = majutsushi/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim-syntastic/syntastic"]
	path = vim-syntastic/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "yggdroot/indentline"]
	path = yggdroot/indentline
	url = git@github.com:yggdroot/indentline.git
[submodule "sheerun/vim-polyglot"]
	path = sheerun/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "ap/vim-css-color"]
	path = ap/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "mattn/emmet-vim"]
	path = mattn/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "davidhalter/jedi-vim"]
	path = davidhalter/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "junegunn/fzf"]
	path = junegunn/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim-airline/vim-airline-themes"]
	path = vim-airline/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git@github.com:raimondi/delimitmate.git
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = git@github.com:yggdroot/indentline.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
